<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conoisseur.Dal.Properties.Settings.ConoisseurConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Conoisseur;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Conoisseur.Dal.Properties.Settings.ConoisseurConnectionString1"
            connectionString="Data Source=SABINA\SQLEXPRESS;Initial Catalog=Conoisseur;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>